*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.header{
    /* background-color: blueviolet; */
}
p{
    font-size: 1rem;
}
h1{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 7px;
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    margin-top: 0px;
    /* background-color: pink; */
}
.contact-dashboard{
    width: 80%;
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    /* background-color: lightblue; */
}
.get-in-touch{
    padding: 15px;
    width: 30%;
}
.get-in-touch h1{
    color: rgb(103, 102, 102);
}
.get-in-touch p{
    color: rgb(103, 102, 102);
    letter-spacing: 2px;
}
.contact-form-card{
    width: 55%;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form{
    background-color: #fff;
    min-height: 76vh;
    /* max-height: 100vh; */
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px #aaa;
}
.contact-form form{
    width: 80%;
}
.input-line{
    display: flex;
    justify-content: space-between;
}
.input-line .input-field{
    flex-basis: 40%;
}
.contact-form input{
    margin-bottom: 40px;
    width: 100%;
}
textarea{
    width: 100%;
    border: none;
    border-bottom: 3px solid rgb(103, 102, 102);
    outline: none;
    box-sizing: border-box;
    margin-left: 0;
}
.contact-form button{
    width: 200px;
    background-color: #5199f4;
    padding: 18px 5px;
    font-size: 1.2rem;
    color: #fff ;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* ****************RESPONSIVE CONTACT DASHBOARD***************** */
@media(max-width: 768px){
    .header{
        min-height: 180vh;
    }
    .contact-container{
        min-height: 150vh;
    }
    .contact-dashboard{
        flex-direction: column;
        min-height: 140vh;
    }
    .get-in-touch{
        width: 100%;
        min-height: 40vh;
    }
    .contact-form-card{
        width: 100%;
    }
    .contact-form {
        width: 90%;
        box-shadow: 60px -16px #5199f4;

    }   
    .input-line{
        flex-direction: column;
    }
}

/* ****************CONTACT INFO CARD********************* */
.contact-info-card{
    min-height: 100vh;
    /* background-color: black; */
    background-image: linear-gradient(#5199f4 50%, #fff 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-container{
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}
.info-content{
    width: 25%;
    background-color: #fff;
    min-height: 35vh;
    box-shadow: 0 5px 5px #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info-content:hover {
    box-shadow: 0 0 50px 0px #808080;
}
.info-content i{
    font-size: 3rem;
    color: #5199f4;
    padding: 20px;
}
.info-content a{
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}
.info-content p{
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 3px;
}

/* ---------------------   RESPONSIVE CONTACT INFO CARD  ---------------------------- */
@media(max-width: 768px){
    .contact-info-card{
        background: linear-gradient(
            #fff 25%,
            #5199f4 25%,
            #5199f4 80%,
            #fff 25%
            );
    }
    .info-container{
        flex-direction: column;
        width: 75%;
        text-align: center;
    }
    .info-content{
        width: 90%;
        margin-bottom: 25px;
    }
    .info-content i{
        padding-left: 0;
    }

}
/* *************** hear from us********************* */
.hear-us{
    /* background-color: grey; */
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hear-container{
    /* background-color: darkseagreen; */
    min-height: 100vh;
    display: flex;
    width: 100%;
    padding: 20px;
}
.hear-text{
    /* background-color: green; */
    width: 40%;
    padding: 60px 0px 0px 70px;
}

.hear-text p{
    font-size: 1rem;
    letter-spacing: 3px;
    text-align: left;
}
.demo{
    /* background-color: brown; */
    width: 60%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
/* **********************ACCORDION************************* */
.free-demo-accordion{
    width: 90%;
    background-color: #5199f4;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.free-demo-accordion li{
    list-style: none;
    width: 80%;
    margin-bottom: 15px;
    color: #fff;
    padding: 5px;
    /* margin-top: 50px; */
}
.free-demo-accordion li label{
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 4px;
    cursor: pointer;
}
.demo-content{
    display: flex;
}
.demo-content p{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
}
.demo-content i{
    font-size: 2.5rem;
    color: rgb(103, 102, 102);
}
.demo-btn button{
    width: 200px;
    background-color: #fff;
    padding: 18px 5px;
    font-size: 1.3rem;
    color: #5199f4 ;
    border: none;
    /* border-radius: 25px ; */
    cursor: pointer;
    margin-top: 30px;
}
.free-demo-accordion .divider{
    height: 4px;
    width: 90%;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 25px;
}
input[type="radio"]{
    display: none;
}
.free-demo-accordion .demo-btn{
    /* line-height: 26px; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s; 
}  
.free-demo-accordion label + input[type="radio"]:checked + .demo-content + .demo-btn{
    max-height: 300px;
}

/* ----------------- Responsive hear from us -------------------- */
@media(max-width: 768px){
    .hear-container{
        flex-direction: column;
    }
    .hear-text{
        width: 80%;
    }
    .demo{
        width: 100%;
    }
    .free-demo-accordion li{
        width: 90%;
    }
    .demo-content {
        text-align: left;
        width: 80%;
    }
    .free-demo-accordion span{
        text-align: right;
    }
}