*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.header{
    /* background-color: blueviolet; */
    background-image: url(/images/product_ellipse.png);
}
p{
    font-size: 1.1rem;
}
h1{
    font-size: 2.8rem;
    font-weight: 550;
    letter-spacing: 2px;
}
.product1_dashboard{
    /* background-color: pink; */
    margin-top: 70px;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product1_wrap{
    width: 90%;
    /* background-color: moccasin; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.product1-content button{
    width: 200px;
    margin-top: 20px;
    background-color: #5199f4;
    padding: 12px 5px;
    font-size: 1.2rem;
    color: #fff ;
    border: none;
    box-shadow: 0 4px 4px #aaa;
    border-radius: 20px;
}
.product1-content{
    padding-right: 30px;
}
.product1-img img{
    max-width: 750px;
    max-height: 55vh;
}
.sections{
    min-height: 30vh;
    /* background-color: cornsilk; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.sections a{
    color: black;
    padding: 30px;
    font-size: 1.5rem;
    text-decoration: none;
}
.sections a:hover{
    font-size: 2rem;
    color: #5199f4;
}
   
/* ************** Familiar and compatible CAD ************* */
.familiar-content h1{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
}
.familiar-content .divider{
    height: 3px;
    width: 80%;
    background-color: #4093ff;
    border-radius: 25px;
}
.familiar-content p{
    padding-top: 30px;
    padding-right: 30px;
    letter-spacing: 1px;
}
.familiar-img img{
    max-width: 700px;
    max-height: 50vh;
}
.full-img img{
    margin-top: 150px;
    margin-left: 80px;
    width: 90%;
}
/*********************INTELLIGENT CAD***************************/
.intelligent{
    min-height: 150vh;
    margin-top: 200px;
    /* background-color: lightcoral; */ 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.intelligent-heading{
    /* background-color: firebrick; */
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.intelligent-heading p{
    padding: 25px;
    width: 80%;
    text-align: center;
}
.intel-wrap{
    width: 90%;
    /* background-color: moccasin; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intel1{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.intel-text{
    padding-right: 20px;
}
.intel-text h2{
    font-size: 1.8rem;
    font-weight: 550;
}
.intel-text p{
    padding-top: 20px;
    width: 90%;
    letter-spacing: 2px;
    text-align: justify;
}
.intel-img img{
    max-width: 600px;
    max-height: 40vh;
}
.intelligent button{
    width: 300px;
    background-color: #5199f4;
    font-size: 1.3rem;
    padding: 10px 10px;
    color: #fff ;
    border: none;
    box-shadow: 0 5px 5px #aaa;
    cursor: pointer;
    margin-top: 80px;
    border-radius: 45px;
}

/*********************** HIGH PERFORMANCE *******************************/
.performance{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.performance-wrap{
    width: 90%;
    display: flex;
    align-items: center;
}   
.fast1{
    display: flex;
    padding: 30px;
}
.fast-text{
    padding: 30px;
    letter-spacing: 4px;
}
.fast-text h1{
    font-size: 4rem;
    display: inline;
}
.fast-text h2{
    font-size: 2rem;
    display: inline;
    font-weight: 600;
    padding-left: 10px;
}
.fast-text p{
    font-size: 1.2rem;
}
.multi-core{
    width: 50%;
}
.multi-text{
    padding: 20px;
    letter-spacing: 3px;
}
.multi-text h3{
    font-size: 1.6rem;
    font-weight: 550;
}
.multi-text p{
    padding-top: 10px;
}

