*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 1.1rem;
}
h1{
    font-size: 3rem;
    font-weight: 550;
    letter-spacing: 3px;
}
h2{
    font-size: 2.3rem;
    font-weight: 550;
    letter-spacing: 2px;
}
/* Mechanical BricsCAD page dashboard */
.mechanical-dash-img img{
    max-width: 650px;
    max-height: 45vh;
}
/* #pro3-sections{
    margin-left: 20px;
} */
.mechanical-dashboard{
    min-height: 50vh;
    margin-top: 55px;
    /* background-color: firebrick; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.mechanical-wrap{
    width: 92%;
    /* background-color: moccasin; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.mechanical-content{
    margin-right: 160px;
}
.btn-wrap{
    display: flex;
}
.mechanical-content button{
    margin-top: 20px;
    padding: 12px 5px;
    font-size: 1.2rem;
    box-shadow: 0 4px 4px #aaa;
}
.mechanical-content .mechanical-btn button{
    /* display: flex; */
    width: 250px;
    background-color: #5199f4;
    color: #fff ;
    border: none;
    border-radius: 20px;
}
.mechanical-content .feature-button button{
    display: inline-block;
    width: 300px;
    background-color: #fff;
    color: black ;
    border: 2px solid black;
    border-radius: 0px;
    margin-left: 30px;
    font-weight: 550;
}
.mechanical-content p{
    margin-top: 20px;
    font-weight: 550;
}

.sections{
    height: 15vh;
    margin-top: 25px;
    /* background-color: cornsilk; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 90%; */
}
.sections a{
    color: black;
    /* padding: 30px; */
    font-size: 1.5rem;
    text-decoration: none;
}
.sections a:hover{
    font-size: 2rem;
    color: #5199f4;
}