*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* width: 100%; */
    /* overflow-x: hidden; */
}

h1{
    font-size: 2rem;
}
/*Main Page and NavBar */
.header{
    height: 130vh;
    width: 100%;
    background-image: url(/images/ho-curve.png);
    background-repeat: no-repeat;
    background-position: right top;
}
nav{
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    padding: 0px 0px;
    width: 350px;
    height: 120px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    letter-spacing: 2px;
}
.nav-links ul li a{
    color: #fff ;
    text-decoration: none;
    font-size: 1rem;
}   
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #fff ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.dropdown-1{
    display: none;
} 
.nav-links ul li:hover .dropdown-1{
    display: block;
    position: absolute;
    top: 100%;
    width: 145px;
    left: 0;
}
.nav-links ul li:hover .dropdown-1 ul{
    display: block;
}
.nav-links ul li:hover .dropdown-1 ul li{
    width: 120px;
    text-align: left;
} 

/* Home Page Content */
.dashboard{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.home-content{
    padding-left: 3rem;
    width: 80%;
    /* padding: 95px 50px; */
}
.home-content h2{
    font-size: 2rem;
    font-weight: 400;
    padding-top: 0px;
}
.home-content h1{
    font-size: 3rem;
    color: #5199f4;
}
.home-content p{
    padding-top: 5px;
    padding-bottom: 18px;
    font-size: 17px;
    color: rgb(54, 53, 53);
    text-align: justify;
}
.home-content button{
    width: 285px;
    background-color: #5199f4;
    padding: 12px 5px;
    font-size: 25px;
    color: #fff ;
    border: none;
    box-shadow: 0 4px 4px #aaa;
    border-radius: 20px;
}
.home-img{
    justify-content: right;
    padding: 75px 150px;  
}
nav .fa-solid{
    display: none;
}


/* -------------Responsive Home Page Content---------------- */
@media(max-width: 768px){
    *:not(.testimonial *){
        width: 100%;
        overflow-x: hidden;
    }
    /* *{
        width: 100%;
        /* overflow-x: hidden; */
    /* }   */
    h2{
        font-size: 2.5rem;
    } 
    .header{
        background-image: none;
        width: 100%;
    }
        
    .dashboard{
        flex-direction: column ;
        margin-top: 130px;
        justify-content: left;
        align-items: baseline;
        position: absolute;
        /* background-color: bisque; */
    }
    .nav-links ul li{
        display: block;
        padding-bottom: 12px;
    }
    .nav-links ul li ul{
        position: relative;
    }
    .dropdown-1{
        display: block;
    }
 
    .nav-links ul li a{
        font-size: 1.5rem;
        display: flex;
    }
    .nav-links ul li a i{
        padding-left: 15px;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-links{
        display: none;
        position: absolute;
        background: #5199f4;
        height: 100vh;
        width: 280px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    .home-content h2{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 3.5rem;
    }
    .home-content p{
        font-size: 1.6rem;
        padding-top: 15px;
        text-align: left;
    }
    .home-content button{
        margin-top: 55px;
        padding: 10px;
        font-size: 2rem;
        width: 350px;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        /* color: #5199f4; */
        margin: 10px;
        font-size: 2.5rem;
        cursor: pointer;
    }
    nav .bar{
        color: #5199f4;
        width: 150px;
        font-size: 3.5rem;
    }
    .home-img{
        padding-left: 50px; 
        width: 80%;
    }

}
/* About us main page  */

.about{
    min-height: 80vh;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;    
}
.about-text{
    padding: 25px 0 0 50px;
    width: 80%;
}
.about-text h2{
    font-size: 60px;
    font-weight: 400;   
    padding-top: 3px;
    color: #5199f4;
}
.about-text p{
    padding-top: 5px;
    padding-bottom: 27px;
    font-size: 1rem;
    color: rgb(54, 53, 53);
    text-align: justify;
}
.abt-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 0.4rem 1.2rem;
    font-size: 1.2rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    background-color: #5199f4;
}
.abt-btn:hover{
    color: #4093ff ;
    transition: 0.5s;
    border-radius: 25px;
    border: 4px solid #5199f4;
    background-color: #fff;
}
.about-img{
    justify-content: right;
    padding: 35px 100px; 
    filter: drop-shadow(45px 75px #5199f4);
}


/* ------------------------Responsive About Us page----------------------------------------- */
@media(max-width: 768px){
    .about{
        flex-direction: column;
        margin-top: 250px;
    }
    .about-text{
        padding: 25px 0 0 2px;
    }
    .about-text h2{
        font-weight: 700;
        padding-bottom: 15px;
        letter-spacing: 5px;
    }
    .about-text p{
        font-size: 1.4rem;
        text-align: left;
        letter-spacing: 1px;
    }
    .abt-btn{
        width: 40%;
        font-size: 1.5rem;
        text-align: center;
        color: #5199f4;
        border: 4px solid #5199f4;
        background-color: #fff;
    }
    .about-img{
        width: 75%;
        padding-top: 130px;
    }
   
}

/* Why choose bricscad page */
.bricscad{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-image: url(/images/choose_img.png);
    background-repeat: no-repeat;
    align-items: center;
}
.bricscad-img{
    justify-content: left;
    padding-bottom: 0px;
    padding-left: 50px;
}
.bricscad-text{
    padding-bottom: 0px;
    padding: 0 50px;
    text-align: right;
    justify-content: right;
    align-items: center;
    width: 80%;
}
.bricscad-text h2{
    font-size: 3rem;
    font-weight: 300;
    padding-top: 3px;
    display: inline;
}
.bricscad-text .divider{
    height: 5px;
    width: 70%;
    background-color: #4093ff;
    margin-left: 30%;
    border-radius: 25px;
}
.bricscad-text p{
    padding-top: 5px;
    padding-bottom: 27px;
    font-weight: 300;
    font-size: 1rem;
}

/* ----------------------Responsive Why Choose BricsCAD page ------------------------------- */
@media(max-width: 768px){
    .bricscad{
        flex-direction: column-reverse;
        background-image: none;
    }
    .bricscad-text{
        padding: 250px 0 0 2px;
    }

    .bricscad-text h2{
        text-align: left;
        margin-left: 0px;
    }
    .bricscad-text p{
        padding-top: 45px;
        font-size: 1.6rem;
        text-align: right;
    }
    .bricscad-img{
        width: 80%;
        padding-top: 130px;
        background-image: url(/images/choose_img.png);
        background-repeat: no-repeat;
        background-size: 1000px 570px;
        padding-bottom: 200px;
    }
}

/* Features in home page */
.feature{
    display: block;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    background-image: url(/images/feature_curve.png);
    background-repeat: no-repeat;
    background-position: right top;
    
}
.feat-text{
    width: 80%;
}
.feature h2{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: #5199f4;
    justify-content: center;
    padding-left: 620px; 
    padding-bottom: 40px;   
}

.feature-container{
    display: flex-basis;
    justify-content: center; 
    width: 90%;

}
.feature-card{
    max-width: 1150px;
    display: flex;
    border-radius: 35px;
    justify-content: space-between;
    box-shadow: 0 5px 5px #aaa;
    padding: 35px;
    margin-bottom: 50px;
    margin-left: 200px;
    background-color: #fff;
}
.feature-card:hover {
    box-shadow: 0 0 50px 0px #808080;
} 
.feature-img{
    display: block;
    left: 0;
    padding-left: 10px;
    object-fit: cover;
}
.feature-content{
    display: block;
    margin-left: 20px;
    min-width: 700px;
} 
.feature-content h3{
    font-size: 2.2rem;
    font-weight: 400;
    padding-top: 20px;
}
.feature-content p{
    padding-top: 10px;
    padding-bottom: 27px;
    font-size: 1rem;
    color: rgb(54, 53, 53);
}
.feature button{
    width: 200px;
    background-color: #5199f4;
    font-size: 23px;
    padding: 5px 5px;
    color: #fff ;
    border: none;
    box-shadow: 0 5px 5px #aaa;
    cursor: pointer;
    justify-content: center;
    margin-left: 680px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 45px;
}
/* ---------------------------Responsive Features Page------------------------------------- */
@media(max-width: 768px){
    .feature{
        display: flex;
        flex-direction: column;
        background-image: none;
        justify-content: center;
        align-items: center;
    }
    .feat-text{
        text-align: center;
        justify-content: center; 
    } 
    .feat-text h2{
        padding: 25px 0 0 2px;
        font-weight: 450;
        letter-spacing: 5px;
    }
    .feature-container{
        align-items: center;
        width: 80%;
        margin-top: 50px;
    }
    .feature-card{
        flex-direction: column;
        margin-left: 0;
        box-shadow: 5px 7px 7px 7px rgb(127, 123, 123);
        width: 80%;
        margin-bottom: 120px;
    }
    .feature-card .feature-content{
        min-width: 100px;
    } 
    .feature-content h3{
        font-size: 2.8rem;
        font-weight: 400;
    }
    .feature-content p{
        font-size: 1.6rem;
    }
    .feature button{
        margin-left: 0;
        margin-right: 50px;
        font-size: 2rem;
        padding: 10px;
        width: 60%;
    }
}



/* -------------------- Products in main home page ------------------------ */
.product{
    display: block;
    min-height: 100vh;
    width: 100%;
}
.product-text{
    width: 80%;
}
.product h2{
    font-size: 70px ;
    font-weight: 300;
    color: #5199f4;
    justify-content: center;
    padding-left: 630px; 
    padding-bottom: 40px; 
    padding-top: 120px;  
}
.product-container{
    display: flex;
    justify-content: center; 
    width: 90%;
    padding-left: 50px;
}
.product-card{
    max-width: 550px;
    display: block;
    border-radius: 35px;
    height: 430px;
    box-shadow: 0 5px 5px #aaa;
    padding: 15px;
    margin-bottom: 50px;
    margin-left: 70px;
    background-color: #fff;
}
.product-card:hover{
    box-shadow: 0 0 50px 0px #808080;
}
.product-content{
    display: block;
    margin-left: 5px;
}
.product-content h3{
    font-size: 2rem;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
}
.product-content p{
    padding-top: 20px;
    padding-bottom: 27px;
    font-size: 1rem;
    color: dimgray;
    text-align: center;
}
.product button{
    width: 200px;
    background-color: #5199f4;
    font-size: 23px;
    padding: 5px 5px;
    color: #fff ;
    border: none;
    box-shadow: 0 5px 5px #aaa;
    cursor: pointer;
    justify-content: center;
    margin-left: 650px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 45px;
}

/* --------------------------- Product Responsive Page ----------------------------------------- */
@media(max-width: 768px){
    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }
    .product-text{
        text-align: center;
        justify-content: center; 
    } 
    .product-text h2{
        padding: 25px 0 0 2px;
        font-weight: 450;
        letter-spacing: 5px;
    }
    .product-container{
        flex-direction: column;
        width: 80%;
    }
    .product-card{
        margin-left: 0;
        width: 90%;
    }
    .product button{
        margin-left: 0;
    }
}

/* -------------------- Services in main home page ---------------------------- */
.service{
    display: block;
    min-height: 100vh;
    width: 100%;
    background-image: url(/images/service_curve.png);
    background-repeat: no-repeat;

}
.service-text{
    width: 80%;
}
.service h2{
    font-size: 70px ;
    font-weight: 300;
    color: #5199f4;
    justify-content: center;
    padding-left: 630px; 
    padding-bottom: 40px; 
    padding-top: 120px;  
}
.service-container{
    display: flex;
    justify-content: center; 
    width: 90%;
    padding-left: 50px;
}
.service-card{
    max-width: 550px;
    display: block;
    border-radius: 35px;
    height: 430px;
    /* justify-content: space-between; */
    box-shadow: 0 5px 5px #aaa;
    padding: 15px;
    margin-bottom: 50px;
    margin-left: 70px;
    background-color: #fff;
}
.service-card:hover{
    box-shadow: 0 0 50px 0px #808080;
}
.service-content{
    display: block;
    margin-left: 5px;
}
.service-content h3{
    font-size: 35px;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
}
.service-content p{
    padding-top: 20px;
    padding-bottom: 27px;
    font-size: 19px;
    color: dimgray;
    text-align: center;
}
.service button{
    width: 200px;
    background-color: #5199f4;
    font-size: 23px;
    padding: 5px 5px;
    color: #fff ;
    border: none;
    box-shadow: 0 5px 5px #aaa;
    cursor: pointer;
    justify-content: center;
    margin-left: 650px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 45px;
}
/* ---------------------------- Services Responsive Page ----------------------------------------------------- */
@media(max-width: 768px){
    .service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }
    .service-text{
        text-align: center;
        justify-content: center; 
    } 
    .service-text h2{
        padding: 25px 0 0 2px;
        font-weight: 450;
        letter-spacing: 5px;
    }
    .service-container{
        flex-direction: column;
        width: 80%;
    }
    .service-card{
        margin-left: 0;
        width: 90%;
    }
    .service button{
        margin-left: 0;
    }
}

/* --------------------Hear from our customers in main page-------------------- */
.testimonial{
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.testimonial-title{
    width: 80%;
}
.testimonial h2{
    font-size: 50px ;
    font-weight: 300;
    color: #5199f4;
    justify-content: center;
    padding-left: 50px; 
    padding-bottom: 100px; 
    padding-top: 70px;  
}
.testimonial-container{
    display: block;
    position: relative;
    /* max-width: 1300px; */
    width: 90%;
    padding-top: 30px;
    overflow: hidden;
    /* background-color: brown; */
    padding: 50px;
}
.testimonial-content{
    /* background-color: cornsilk; */
    overflow: hidden;
}

.testimonial-card{
    display: flex;
    border-radius: 35px;
    background-color: #5199f4;
    height: 330px;
    width: 100%;
    box-shadow: 0 5px 5px #aaa;
}
.testimonial-card:hover{
    box-shadow: 0 0 40px 0px #808080;
}
.testimonial-img{
    position: relative;
    object-fit: cover;
    width: 200px;
    height: 110px;
}
.testimonial .image{
    object-fit: cover;
    border-radius: 35px 0px 0px 0px;
}
.testimonial-text{
    padding-left: 80px;
    color: #fff;
}
.testimonial-text h3{
    padding-top: 70px;
    font-size: 30px;
    font-weight: 400;
}
.testimonial-text p{
    padding-top: 13px;
    font-size: 21px;
    font-weight: 300;
}
.testimonial-text h5{
    padding-top: 7px;
    font-size: 21px;
    font-weight: 300;
}
.testimonial-text h6{
    padding-left: 12px;
    font-size: 21px;
    font-weight: 300;
}
.swiper-navBtn{
    color: #5199f4;
    transition: color 0.5s ease;
}
.swiper-navBtn:hover{
    color: #063e83;
}
/* --------------------------- Hear from our customer responsive page --------------------------------------- */

@media all and (max-width: 768px) {
    .testimonial{
        margin-top: 100px;
    }
    .testimonial-title{
        text-align: left;
        justify-content: center;
    }
    .testimonial-title h2{
        padding: 25px 0 0 2px;
        font-weight: 550;
        letter-spacing: 5px;
    }
    .testimonial-container{
        display: inline;
        width: 80%;
        height: 600px;
        text-align: center;
        justify-content: center;
        object-fit: cover;
    }
    .testimonial-content{
        height: 600px;
    }
    .testimonial-card{
        height: 600px;
        width: 80%;
        flex-direction: column;
    }
    .testimonial-text{
        margin-top: 10px;
        padding: 30px;
        text-align: left;
        margin-right: 0px;
        width: 80%;
    }
    .testimonial-text h3{
        padding-top: 0;
        font-size: 2.5rem;
    }
    .swiper-navBtn{
        display: none;
    }
}

/* ******************* CONTACT US PART OF MAIN PAGE **************************** */
.message{
    min-height: 100vh;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}
.image-holder{
    height: 110vh;
    width: 100%;
    background-color: #5199f4;
    position: relative;
    z-index: 1;
}
.map-img{
    position: absolute;
    z-index: 1;
    width: "780px";
    height: "820px";
}

.send-message{
    background-color: #fff;
    position: absolute;
    z-index: 2;
    height: 600px;
    width: 1000px;   
    margin-left: 350px;
    margin-top: 130px;
    padding: auto;
}
.send-message h1{
    color: #5199f4;
    font-size: 40px;
    font-weight: 500;
    padding-top: 100px;
    padding-bottom: 60px;
    margin-left: 350px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    margin-left: 350px;
}
.input-row .input-group{
    flex-basis: 70%;
}
input{
    width: 80%;
    border: none;
    height: 35px;
    border-bottom: 3px solid rgb(103, 102, 102);
    outline: none;
    font-size: 1.2rem;
    padding-bottom: 5px;    
}
textarea{
    width: 60%;
    border: none;
    font-size: 20px;
    border-bottom: 3px solid rgb(103, 102, 102);
    outline: none;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-left: 350px;
}
.send-message button{
    width: 200px;
    background-color: #5199f4;
    padding: 18px 5px;
    font-size: 1.2rem;
    color: #fff ;
    border: none;
    box-shadow: 0 5px 5px #aaa;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 350px;
}
.contact-us{
    background-color: #5199f4;
    position: absolute;
    z-index: 3;
    box-shadow: 0 5px 5px #aaa;
    height: 500px;
    width: 450px;   
    margin-left: 200px;
    margin-top: 180px;
    color: #fff;
    font-size: 20px;
}
.contact-us h1{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding-top: 70px;
    padding-bottom: 35px;
    margin-left: 40px;
}
.contact-us .info-box div{
    margin-left: 35px;
    display: flex;
}
.contact-us .info-box div span{
    min-width: 40px;
    height: 40px;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 15px;
    margin-bottom: 45px;
}
.contact-us .info-box div p{
    font-size: 1.3rem;
}
.contact-us .info-box div a{
    text-decoration: underline;
    color: #fff;
}
.social{
    margin-left: 35px;
    display: flex;
}
.social li{
    list-style: none;
    margin-right: 45px;
}
.social li a{
    color: #fff;
    font-size: 2.3rem;
}
/* ------------------------------- Responsive Contact us part of main page------------------------------------------- */
@media all and (max-width: 768px){
    .image-holder{
        display: flex;
        flex-direction: column;
        background-color: grey;
        height: 170vh;
    }
    .map-img{
        padding: 0;
        position: absolute;
    }
    .contact-us{
        display: flex;
        flex-direction: column;
        z-index: 2;
        margin-left: 0;
        width: 100%;
        height: 550px;
        align-items: center;
    }
    .contact-us h1{
        width: 80%;
        font-size: 2.8rem;
        padding-top: 50px;
        padding-bottom: 15px;
        margin-top: 10px;
    }
    .contact-us .info-box div{
        width: 80%; 
        margin-left: 50px;
    }
    .contact-us .info-box div span{
        margin-right: 10px;
        margin-bottom: 15px;
        max-width: 10px;
        height: 80px;
        font-size: 2.5rem;
        
    }
    .contact-us .info-box div p{
        margin-left: 10px;
        width: 100%;
        font-size: 1.5rem;
        align-items: center;
    }
    .contact-us .info-box div a{
        font-size: 1.5rem;
        width: 100%;
        margin-top: 25px;
        margin-left: 10px;

    }
    .social{
        margin-left: 50px;
        width: 80%;
        justify-content: space-evenly;
    }
    .social li{
        margin-right: 0;
    }
    .social li a{
        font-size: 3.5rem;
    }
    .send-message{
        z-index: 1;
        background-color: darkgreen;
        margin-left: 0;
        margin-top: 820px;
        width: 100%;
    }
    

}

/* ******************* FOOTER *************************** */
.footer{
    margin-top: 300px;
    height: 50vh;
    width: 100%;
    background-color: #5199f4;
    display: flex;
}

/* ---------------Newslettwe part of the footer------------------------ */
.col-1{
    width: 30%;
    margin-top: 35px;
    /* background-color: brown; */
    text-align: center;
}
.col-1 h1{
    font-size: 2.5rem;
    font-weight: 450;
    color: #fff;
    padding-bottom: 20px;
    letter-spacing: 5px;
 
}
.newsletter{
    margin-left: 47px;
    /* background-color: red; */
    text-align: left;
    width: 350px;
}
.col-1 p{
    color: #fff;
    font-size: 1rem;
    padding-bottom: 10px;
    text-align: left;
    letter-spacing: 2px;
}
.news-row{
    display: flex;
    padding-bottom: 13px;
}
.input-news{
    margin-left: 1px;
}
.news-mail{
    width: 393px;
    padding-bottom: 13px;
}
.news-btn button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 0.4rem 1.2rem;
    font-size: 1rem; 
    background: transparent; 
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #fff;
    background-color: red; 

}
/* --------------------Products part of the footer------------------------- */
.col-2{
    display: flex;
    width: 20%;
    padding: auto;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-2 h2{
    font-size: 2.4rem;
    color: #fff;
    font-weight: 400;
}
.col-2 p{
    font-size: 1.2rem;
    color: #fff;
    padding: 10px;
}
/* -------------------Services part of the footer---------------- */
.col-3{
    width: 20%;
    padding: auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-3 h2{
    font-size: 2.4rem;
    color: #fff;
    font-weight: 400;
}
.col-3 p{
    font-size: 1.2rem;
    color: #fff;
    padding: 10px;
}
/* ----------------Map part of the footer-------------------- */
.col-4{
    width: 30%;
    padding: auto;
    margin-top: 35px;
    display: flex;
    padding-left: 40px;
    flex-direction: column;

}
iframe{
    height: 270px;
    width: 340px;
}


